.flash-box
  .wrapper
    .side-chat
      = render "groups/side-chat"
    .main-chat 
      = render "main-chat"
      .message
        = render @messages

      .form
        .form__new_message
          .form__new_message__input-box
            = form_for [@group, @message] do |f|
              = f.text_field :body, class: 'form__new_message__input-box__text', placeholder: 'type a message' 
              = f.label :image, class: 'form__new_message__input-box__text__image' do
                = fa_icon 'image', class: 'far' 
                = f.file_field :image, class: 'form__new_message__input-box__text__image__file' 
              = f.submit 'Send', class: 'form__new_message__sent'


